.footer {
	height: 560px;
	margin-top: 100px;
	border-top: 1px solid $borderColor;

	.row {
		height: 100%;
		padding: 0;
	}

	.col-md-3 {
		height: 100%;
	}

	a {
		display: block;
		width: 100%;
		
		color: $accent;
		font-size: 1.5rem;		
		text-align: left;

		&:hover{
			text-decoration: none;
		}
	}

	.copyright-text{
		margin-top : 160px;
		padding-bottom: 20px;
		font-size: 1.3rem;
	}

	.email-link {
		display: inline;
		text-decoration : underline;
	}

	i {
		padding-right: 5px;
	}

	p {
		margin-bottom: 0px;
	}

	h4 {
		margin-bottom: 0px;
		font-size: 1.6rem;
	}

	div {
		padding-top: 20px;
	}

	.left-border {
		border-left: 1px solid $borderColor;
	}

	.search {
		float: none;
		margin-bottom: 30px;

		.search-input {
			margin: 0 5px 0 0;
		}
	}
	
	.social-logos {
		padding-top: 20px;
		padding-bottom: 20px;

		img{
					padding-right: 5px;
		}
	}
}

#footer {

	#main-navbar .logo {
		top: -111px;
	}
}