.new-auction-section {
	background-position: center;
	background-size: cover;
}
.auction-caption{
	position: relative;
	background-color: rgba(33, 57, 139, 0.7);
	padding: 0px;
	margin: 40px 0px 40px 0px;

	.icon-slider {
		position: absolute;
		top: -16px;
		left: -16px;
	}

	h3, p {
		padding : 5px 20px 5px 20px;
	}

	h3 {
		color: white;
	}
	p {
			color: white;
			text-align: left;
	}

	.visit-auction {
		background-color: white;
		padding : 15px 20px 15px 20px;

		a{
			color: $accent;
		}
	}
}