.select2-container {
	margin-bottom: 30px;
}

.register-page {
	.select2-container {
		margin-bottom: 0;
	}
}

.select2-container--default .select2-selection--single {
	height: 42px;
	padding: 6px 15px;

	background-color: $borderColor;
	border: 1px solid $borderColor;
	border-radius: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	padding-right: 20px;
}

// select arrow
.select2-container .select-arrow {
	position: absolute;
	right: 20px;
	top: 0;
	height: 42px;

	i {
		line-height: 42px;
		font-size: 3.5rem;
	}
}

