.my-auctions, .my-watchlist {
	color : $navColor;
	
	.table {
		margin-top: 15px;

		h3 {
			margin: 0px;
		}

		th {
			background-color: $grey;
			border: 0px;
			font-weight: normal;
		}

		
		.img-preview {
			width: 136px;
			height: 136px;
			border-bottom: 0px;
			border-top: 0px;
		}
	}
	
	.add-button {
		padding: 20px 15px 20px 15px;
		border: 1px solid #e5e5e5;
		background-color: $grey;
		display: block;
		color: $accentBlue;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		&:hover {
			text-decoration: underline;
			border-bottom: 1px solid #e5e5e5;
		}

		i{
			padding-left: 10px;
		}
	}
}